body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    gap: 0.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#time-monitor {
    flex-grow: 1;
    text-align: center;
}

#pause-btn,
#resume-btn {
    width: 4.5rem;
}

img {
    object-fit: contain;
    max-height: 90vh;
    max-width: 90%;
}
