body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: #fafafa;
}

label {
    display: inline-block;
    width: 4em;
}

input {
    display: inline-block;
    width: 10em;
}

#start-btn {
    width: 4em;
    height: 3em;
}
